.configKeyboardTableHeader {
  margin: 0 auto;
  width: 850px;
  background-color: transparent;
}

.configKeyboardTable {
  margin: 0 auto;
  width: 770px;
  background-color: transparent;
}

#keyboardContainer {
  background-color:transparent; 
  margin: 0 auto;
  position:relative;
}

#hotSpotKeyboardContainer {
  background-color:transparent; 
  margin: 0 auto;
  position:relative;
}

#guideKeyboardContainer {
  background-color:transparent; 
  margin: 0 auto;
  position:relative;
}

.keyStyle {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding:0px;
  margin:0px;
  background-position: 0px 0px;
  background-repeat: no-repeat;
  position:absolute;
}

#key_0_0 {
  background-image: url(../images/keys/qwerty_600_0_0.png); 
  background-color:#f00; 
  top:0px;
  left:0px;
  width:39px;
  height:39px; 
}
#key_0_1 {
  background-image: url(../images/keys/qwerty_600_0_1.png); 
  background-color:#ff0; 
  top:0px;
  left:40px;
  width:39px;
  height:39px; 
}
#key_0_2 {
  background-image: url(../images/keys/qwerty_600_0_2.png); 
  background-color:#f00; 
  top:0px;
  left:80px;
  width:39px;
  height:39px; 
}
#key_0_3 {
  background-image: url(../images/keys/qwerty_600_0_3.png); 
  background-color:#ff0; 
  top:0px;
  left:120px;
  width:39px;
  height:39px; 
}
#key_0_4 {
  background-image: url(../images/keys/qwerty_600_0_4.png); 
  background-color:#f00; 
  top:0px;
  left:160px;
  width:39px;
  height:39px; 
}
#key_0_5 {
  background-image: url(../images/keys/qwerty_600_0_5.png); 
  background-color:#ff0; 
  top:0px;
  left:200px;
  width:39px;
  height:39px; 
}
#key_0_6 {
  background-image: url(../images/keys/qwerty_600_0_6.png); 
  background-color:#f00; 
  top:0px;
  left:240px;
  width:39px;
  height:39px; 
}
#key_0_7 {
  background-image: url(../images/keys/qwerty_600_0_7.png); 
  background-color:#ff0; 
  top:0px;
  left:280px;
  width:39px;
  height:39px; 
}
#key_0_8 {
  background-image: url(../images/keys/qwerty_600_0_8.png);  
  background-color:#f00; 
  top:0px;
  left:320px;
  width:39px;
  height:39px; 
}
#key_0_9 {
  background-image: url(../images/keys/qwerty_600_0_9.png);  
  background-color:#ff0; 
  top:0px;
  left:360px;
  width:39px;
  height:39px; 
}
#key_0_10 {
  background-image: url(../images/keys/qwerty_600_0_10.png); 
  background-color:#f00; 
  top:0px;
  left:400px;
  width:39px;
  height:39px; 
}
#key_0_11 {
  background-image: url(../images/keys/qwerty_600_0_11.png); 
  background-color:#ff0; 
  top:0px;
  left:440px;
  width:39px;
  height:39px; 
}
#key_0_12 {
  background-image: url(../images/keys/qwerty_600_0_12.png); 
  background-color:#f00; 
  top:0px;
  left:480px;
  width:39px;
  height:39px; 
}

#key_0_13 {
  background-image: url(../images/keys/qwerty_600_0_13.png);
  background-color:#f0f; 
  top:0px;
  left:520px;
  width:79px;
  height:39px; 
}

#key_1_0 {
  background-image: url(../images/keys/qwerty_600_1_0.png); 
  background-color:#f14; 
  top:40px;
  left:0px;
  width:59px;
  height:39px; 
}

#key_1_1 {
  background-image: url(../images/keys/qwerty_600_1_1.png); 
  background-color:#ff8; 
  top:40px;
  left:60px;
  width:39px;
  height:39px; 
}
#key_1_2 {
  background-image: url(../images/keys/qwerty_600_1_2.png);  
  background-color:#f88; 
  top:40px;
  left:100px;
  width:39px;
  height:39px; 
}
#key_1_3 {
  background-image: url(../images/keys/qwerty_600_1_3.png);
  background-color:#ff8; 
  top:40px;
  left:140px;
  width:39px;
  height:39px; 
}
#key_1_4 {
  background-image: url(../images/keys/qwerty_600_1_4.png); 
  background-color:#f88; 
  top:40px;
  left:180px;
  width:39px;
  height:39px; 
}
#key_1_5 {
  background-image: url(../images/keys/qwerty_600_1_5.png); 
  background-color:#ff8; 
  top:40px;
  left:220px;
  width:39px;
  height:39px; 
}
#key_1_6 {
  background-image: url(../images/keys/qwerty_600_1_6.png);
  background-color:#f88; 
  top:40px;
  left:260px;
  width:39px;
  height:39px; 
}
#key_1_7 {
  background-image: url(../images/keys/qwerty_600_1_7.png);
  background-color:#ff8; 
  top:40px;
  left:300px;
  width:39px;
  height:39px; 
}
#key_1_8 {
  background-image: url(../images/keys/qwerty_600_1_8.png); 
  background-color:#f88; 
  top:40px;
  left:340px;
  width:39px;
  height:39px; 
}
#key_1_9 {
  background-image: url(../images/keys/qwerty_600_1_9.png);
  background-color:#ff8; 
  top:40px;
  left:380px;
  width:39px;
  height:39px; 
}
#key_1_10 {
  background-image: url(../images/keys/qwerty_600_1_10.png);
  background-color:#f88; 
  top:40px;
  left:420px;
  width:39px;
  height:39px; 
}
#key_1_11 {
  background-image: url(../images/keys/qwerty_600_1_11.png);
  background-color:#ff8; 
  top:40px;
  left:460px;
  width:39px;
  height:39px;  
}
#key_1_12 {
  background-image: url(../images/keys/qwerty_600_1_12.png); 
  background-color:#f88; 
  top:40px;
  left:500px;
  width:39px;
  height:39px; 
}
#key_1_13 {
  background-image: url(../images/keys/qwerty_600_1_13.png); 
  background-color:#ff8; 
  top:40px;
  left:540px;
  width:59px;
  height:39px; 
}

#key_2_0 {
  background-image: url(../images/keys/qwerty_600_2_0.png);  
  background-color:#f52; 
  top:80px;
  left:0px;
  width:69px;
  height:39px; 
}

#key_2_1 {
  background-image: url(../images/keys/qwerty_600_2_1.png); 
  background-color:#ff0; 
  top:80px;
  left:70px;
  width:39px;
  height:39px; 
}
#key_2_2 {
  background-image: url(../images/keys/qwerty_600_2_2.png);  
  background-color:#f00; 
  top:80px;
  left:110px;
  width:39px;
  height:39px; 
}
#key_2_3 {
  background-image: url(../images/keys/qwerty_600_2_3.png);  
  background-color:#ff0; 
  top:80px;
  left:150px;
  width:39px;
  height:39px; 
}
#key_2_4 {
  background-image: url(../images/keys/qwerty_600_2_4.png);  
  background-color:#f00; 
  top:80px;
  left:190px;
  width:39px;
  height:39px; 
}
#key_2_5 {
  background-image: url(../images/keys/qwerty_600_2_5.png);  
  background-color:#ff0; 
  top:80px;
  left:230px;
  width:39px;
  height:39px; 
}
#key_2_6 {
  background-image: url(../images/keys/qwerty_600_2_6.png); 
  background-color:#f00; 
  top:80px;
  left:270px;
  width:39px;
  height:39px; 
}
#key_2_7 {
  background-image: url(../images/keys/qwerty_600_2_7.png);  
  background-color:#ff0; 
  top:80px;
  left:310px;
  width:39px;
  height:39px; 
}
#key_2_8 {
  background-image: url(../images/keys/qwerty_600_2_8.png); 
  background-color:#f00; 
  top:80px;
  left:350px;
  width:39px;
  height:39px; 
}
#key_2_9 {
  background-image: url(../images/keys/qwerty_600_2_9.png);  
  background-color:#ff0; 
  top:80px;
  left:390px;
  width:39px;
  height:39px; 
}
#key_2_10 {
  background-image: url(../images/keys/qwerty_600_2_10.png);  
  background-color:#f00; 
  top:80px;
  left:430px;
  width:39px;
  height:39px; 
}
#key_2_11 {
  background-image: url(../images/keys/qwerty_600_2_11.png); 
  background-color:#ff0; 
  top:80px;
  left:470px;
  width:39px;
  height:39px; 
}

#key_2_12 {
  background-image: url(../images/keys/qwerty_600_2_12.png); 
  background-color:#5f5; 
  top:80px;
  left:510px;
  width:89px;
  height:39px; 
}

#key_3_0 {
  background-image: url(../images/keys/qwerty_600_3_0.png); 
  background-color:#f96; 
  top:120px;
  left:0px;
  width:89px;
  height:39px; 
}

#key_3_1 {
  background-image: url(../images/keys/qwerty_600_3_1.png);  
  background-color:#f88; 
  top:120px;
  left:90px;
  width:39px;
  height:39px; 
}
#key_3_2 {
  background-image: url(../images/keys/qwerty_600_3_2.png);
  background-color:#ff8; 
  top:120px;
  left:130px;
  width:39px;
  height:39px; 
}
#key_3_3 {
  background-image: url(../images/keys/qwerty_600_3_3.png); 
  background-color:#f88; 
  top:120px;
  left:170px;
  width:39px;
  height:39px; 
}
#key_3_4 {
  background-image: url(../images/keys/qwerty_600_3_4.png);
  background-color:#ff8; 
  top:120px;
  left:210px;
  width:39px;
  height:39px; 
}
#key_3_5 {
  background-image: url(../images/keys/qwerty_600_3_5.png);
  background-color:#f88; 
  top:120px;
  left:250px;
  width:39px;
  height:39px; 
}
#key_3_6 {
  background-image: url(../images/keys/qwerty_600_3_6.png); 
  background-color:#ff8; 
  top:120px;
  left:290px;
  width:39px;
  height:39px; 
}
#key_3_7 {
  background-image: url(../images/keys/qwerty_600_3_7.png); 
  background-color:#f88; 
  top:120px;
  left:330px;
  width:39px;
  height:39px; 
}
#key_3_8 {
  background-image: url(../images/keys/qwerty_600_3_8.png);
  background-color:#ff8; 
  top:120px;
  left:370px;
  width:39px;
  height:39px; 
}
#key_3_9 {
  background-image: url(../images/keys/qwerty_600_3_9.png);
  background-color:#f88; 
  top:120px;
  left:410px;
  width:39px;
  height:39px; 
}
#key_3_10 {
  background-image: url(../images/keys/qwerty_600_3_10.png); 
  background-color:#ff8; 
  top:120px;
  left:450px;
  width:39px;
  height:39px; 
}

#key_3_11 {
  background-image: url(../images/keys/qwerty_600_3_11.png); 
  background-color:#51f; 
  top:120px;
  left:490px;
  width:109px;
  height:39px; 
}

#key_4_0 {
  background-image: url(../images/keys/qwerty_600_4_0.png); 
  background-color:#888; 
  top:160px;
  left:0px;
  width:59px;
  height:39px; 
}

#key_4_1 {
  background-image: url(../images/keys/qwerty_600_4_1.png); 
  background-color:#888; 
  top:160px;
  left:60px;
  width:39px;
  height:39px; 
}

#key_4_2 {
  background-image: url(../images/keys/qwerty_600_4_2.png); 
  background-color:#888; 
  top:160px;
  left:100px;
  width:59px;
  height:39px; 
}

#key_4_3 {
  background-image: url(../images/keys/qwerty_600_4_3.png); 
  background-color:#ddd; 
  top:160px;
  left:160px;
  width:239px;
  height:39px; 
}

#key_4_4 {
  background-image: url(../images/keys/qwerty_600_4_4.png);
  background-color:#888; 
  top:160px;
  left:400px;
  width:59px;
  height:39px; 
}

#key_4_5 {
  background-image: url(../images/keys/qwerty_600_4_5.png);
  background-color:#888; 
  top:160px;
  left:460px;
  width:39px;
  height:39px; 
}

#key_4_6 {
  background-image: url(../images/keys/qwerty_600_4_6.png);
  background-color:#888; 
  top:160px;
  left:500px;
  width:39px;
  height:39px; 
}

#key_4_7 {
  background-image: url(../images/keys/qwerty_600_4_7.png);
  background-color:#888; 
  top:160px;
  left:540px;
  width:59px;
  height:39px; 
}





#hot_key_0_0 {
  background-image: url(../images/keys/qwerty_600_0_0.png); 
  background-color:#f00; 
  top:0px;
  left:0px;
  width:39px;
  height:39px; 
}
#hot_key_0_1 {
  background-image: url(../images/keys/qwerty_600_0_1.png); 
  background-color:#ff0; 
  top:0px;
  left:40px;
  width:39px;
  height:39px; 
}
#hot_key_0_2 {
  background-image: url(../images/keys/qwerty_600_0_2.png); 
  background-color:#f00; 
  top:0px;
  left:80px;
  width:39px;
  height:39px; 
}
#hot_key_0_3 {
  background-image: url(../images/keys/qwerty_600_0_3.png); 
  background-color:#ff0; 
  top:0px;
  left:120px;
  width:39px;
  height:39px; 
}
#hot_key_0_4 {
  background-image: url(../images/keys/qwerty_600_0_4.png); 
  background-color:#f00; 
  top:0px;
  left:160px;
  width:39px;
  height:39px; 
}
#hot_key_0_5 {
  background-image: url(../images/keys/qwerty_600_0_5.png); 
  background-color:#ff0; 
  top:0px;
  left:200px;
  width:39px;
  height:39px; 
}
#hot_key_0_6 {
  background-image: url(../images/keys/qwerty_600_0_6.png); 
  background-color:#f00; 
  top:0px;
  left:240px;
  width:39px;
  height:39px; 
}
#hot_key_0_7 {
  background-image: url(../images/keys/qwerty_600_0_7.png); 
  background-color:#ff0; 
  top:0px;
  left:280px;
  width:39px;
  height:39px; 
}
#hot_key_0_8 {
  background-image: url(../images/keys/qwerty_600_0_8.png);  
  background-color:#f00; 
  top:0px;
  left:320px;
  width:39px;
  height:39px; 
}
#hot_key_0_9 {
  background-image: url(../images/keys/qwerty_600_0_9.png);  
  background-color:#ff0; 
  top:0px;
  left:360px;
  width:39px;
  height:39px; 
}
#hot_key_0_10 {
  background-image: url(../images/keys/qwerty_600_0_10.png); 
  background-color:#f00; 
  top:0px;
  left:400px;
  width:39px;
  height:39px; 
}
#hot_key_0_11 {
  background-image: url(../images/keys/qwerty_600_0_11.png); 
  background-color:#ff0; 
  top:0px;
  left:440px;
  width:39px;
  height:39px; 
}
#hot_key_0_12 {
  background-image: url(../images/keys/qwerty_600_0_12.png); 
  background-color:#f00; 
  top:0px;
  left:480px;
  width:39px;
  height:39px; 
}

#hot_key_0_13 {
  background-image: url(../images/keys/qwerty_600_0_13.png);
  background-color:#f0f; 
  top:0px;
  left:520px;
  width:79px;
  height:39px; 
}

#hot_key_1_0 {
  background-image: url(../images/keys/qwerty_600_1_0.png); 
  background-color:#f14; 
  top:40px;
  left:0px;
  width:59px;
  height:39px; 
}

#hot_key_1_1 {
  background-image: url(../images/keys/qwerty_600_1_1.png); 
  background-color:#ff8; 
  top:40px;
  left:60px;
  width:39px;
  height:39px; 
}
#hot_key_1_2 {
  background-image: url(../images/keys/qwerty_600_1_2.png);  
  background-color:#f88; 
  top:40px;
  left:100px;
  width:39px;
  height:39px; 
}
#hot_key_1_3 {
  background-image: url(../images/keys/qwerty_600_1_3.png);
  background-color:#ff8; 
  top:40px;
  left:140px;
  width:39px;
  height:39px; 
}
#hot_key_1_4 {
  background-image: url(../images/keys/qwerty_600_1_4.png); 
  background-color:#f88; 
  top:40px;
  left:180px;
  width:39px;
  height:39px; 
}
#hot_key_1_5 {
  background-image: url(../images/keys/qwerty_600_1_5.png); 
  background-color:#ff8; 
  top:40px;
  left:220px;
  width:39px;
  height:39px; 
}
#hot_key_1_6 {
  background-image: url(../images/keys/qwerty_600_1_6.png);
  background-color:#f88; 
  top:40px;
  left:260px;
  width:39px;
  height:39px; 
}
#hot_key_1_7 {
  background-image: url(../images/keys/qwerty_600_1_7.png);
  background-color:#ff8; 
  top:40px;
  left:300px;
  width:39px;
  height:39px; 
}
#hot_key_1_8 {
  background-image: url(../images/keys/qwerty_600_1_8.png); 
  background-color:#f88; 
  top:40px;
  left:340px;
  width:39px;
  height:39px; 
}
#hot_key_1_9 {
  background-image: url(../images/keys/qwerty_600_1_9.png);
  background-color:#ff8; 
  top:40px;
  left:380px;
  width:39px;
  height:39px; 
}
#hot_key_1_10 {
  background-image: url(../images/keys/qwerty_600_1_10.png);
  background-color:#f88; 
  top:40px;
  left:420px;
  width:39px;
  height:39px; 
}
#hot_key_1_11 {
  background-image: url(../images/keys/qwerty_600_1_11.png);
  background-color:#ff8; 
  top:40px;
  left:460px;
  width:39px;
  height:39px;  
}
#hot_key_1_12 {
  background-image: url(../images/keys/qwerty_600_1_12.png); 
  background-color:#f88; 
  top:40px;
  left:500px;
  width:39px;
  height:39px; 
}
#hot_key_1_13 {
  background-image: url(../images/keys/qwerty_600_1_13.png); 
  background-color:#ff8; 
  top:40px;
  left:540px;
  width:59px;
  height:39px; 
}

#hot_key_2_0 {
  background-image: url(../images/keys/qwerty_600_2_0.png);  
  background-color:#f52; 
  top:80px;
  left:0px;
  width:69px;
  height:39px; 
}

#hot_key_2_1 {
  background-image: url(../images/keys/qwerty_600_2_1.png); 
  background-color:#ff0; 
  top:80px;
  left:70px;
  width:39px;
  height:39px; 
}
#hot_key_2_2 {
  background-image: url(../images/keys/qwerty_600_2_2.png);  
  background-color:#f00; 
  top:80px;
  left:110px;
  width:39px;
  height:39px; 
}
#hot_key_2_3 {
  background-image: url(../images/keys/qwerty_600_2_3.png);  
  background-color:#ff0; 
  top:80px;
  left:150px;
  width:39px;
  height:39px; 
}
#hot_key_2_4 {
  background-image: url(../images/keys/qwerty_600_2_4.png);  
  background-color:#f00; 
  top:80px;
  left:190px;
  width:39px;
  height:39px; 
}
#hot_key_2_5 {
  background-image: url(../images/keys/qwerty_600_2_5.png);  
  background-color:#ff0; 
  top:80px;
  left:230px;
  width:39px;
  height:39px; 
}
#hot_key_2_6 {
  background-image: url(../images/keys/qwerty_600_2_6.png); 
  background-color:#f00; 
  top:80px;
  left:270px;
  width:39px;
  height:39px; 
}
#hot_key_2_7 {
  background-image: url(../images/keys/qwerty_600_2_7.png);  
  background-color:#ff0; 
  top:80px;
  left:310px;
  width:39px;
  height:39px; 
}
#hot_key_2_8 {
  background-image: url(../images/keys/qwerty_600_2_8.png); 
  background-color:#f00; 
  top:80px;
  left:350px;
  width:39px;
  height:39px; 
}
#hot_key_2_9 {
  background-image: url(../images/keys/qwerty_600_2_9.png);  
  background-color:#ff0; 
  top:80px;
  left:390px;
  width:39px;
  height:39px; 
}
#hot_key_2_10 {
  background-image: url(../images/keys/qwerty_600_2_10.png);  
  background-color:#f00; 
  top:80px;
  left:430px;
  width:39px;
  height:39px; 
}
#hot_key_2_11 {
  background-image: url(../images/keys/qwerty_600_2_11.png); 
  background-color:#ff0; 
  top:80px;
  left:470px;
  width:39px;
  height:39px; 
}

#hot_key_2_12 {
  background-image: url(../images/keys/qwerty_600_2_12.png); 
  background-color:#5f5; 
  top:80px;
  left:510px;
  width:89px;
  height:39px; 
}

#hot_key_3_0 {
  background-image: url(../images/keys/qwerty_600_3_0.png); 
  background-color:#f96; 
  top:120px;
  left:0px;
  width:89px;
  height:39px; 
}

#hot_key_3_1 {
  background-image: url(../images/keys/qwerty_600_3_1.png);  
  background-color:#f88; 
  top:120px;
  left:90px;
  width:39px;
  height:39px; 
}
#hot_key_3_2 {
  background-image: url(../images/keys/qwerty_600_3_2.png);
  background-color:#ff8; 
  top:120px;
  left:130px;
  width:39px;
  height:39px; 
}
#hot_key_3_3 {
  background-image: url(../images/keys/qwerty_600_3_3.png); 
  background-color:#f88; 
  top:120px;
  left:170px;
  width:39px;
  height:39px; 
}
#hot_key_3_4 {
  background-image: url(../images/keys/qwerty_600_3_4.png);
  background-color:#ff8; 
  top:120px;
  left:210px;
  width:39px;
  height:39px; 
}
#hot_key_3_5 {
  background-image: url(../images/keys/qwerty_600_3_5.png);
  background-color:#f88; 
  top:120px;
  left:250px;
  width:39px;
  height:39px; 
}
#hot_key_3_6 {
  background-image: url(../images/keys/qwerty_600_3_6.png); 
  background-color:#ff8; 
  top:120px;
  left:290px;
  width:39px;
  height:39px; 
}
#hot_key_3_7 {
  background-image: url(../images/keys/qwerty_600_3_7.png); 
  background-color:#f88; 
  top:120px;
  left:330px;
  width:39px;
  height:39px; 
}
#hot_key_3_8 {
  background-image: url(../images/keys/qwerty_600_3_8.png);
  background-color:#ff8; 
  top:120px;
  left:370px;
  width:39px;
  height:39px; 
}
#hot_key_3_9 {
  background-image: url(../images/keys/qwerty_600_3_9.png);
  background-color:#f88; 
  top:120px;
  left:410px;
  width:39px;
  height:39px; 
}
#hot_key_3_10 {
  background-image: url(../images/keys/qwerty_600_3_10.png); 
  background-color:#ff8; 
  top:120px;
  left:450px;
  width:39px;
  height:39px; 
}

#hot_key_3_11 {
  background-image: url(../images/keys/qwerty_600_3_11.png); 
  background-color:#51f; 
  top:120px;
  left:490px;
  width:109px;
  height:39px; 
}

#hot_key_4_0 {
  background-image: url(../images/keys/qwerty_600_4_0.png); 
  background-color:#888; 
  top:160px;
  left:0px;
  width:59px;
  height:39px; 
}

#hot_key_4_1 {
  background-image: url(../images/keys/qwerty_600_4_1.png); 
  background-color:#888; 
  top:160px;
  left:60px;
  width:39px;
  height:39px; 
}

#hot_key_4_2 {
  background-image: url(../images/keys/qwerty_600_4_2.png); 
  background-color:#888; 
  top:160px;
  left:100px;
  width:59px;
  height:39px; 
}

#hot_key_4_3 {
  background-image: url(../images/keys/qwerty_600_4_3.png); 
  background-color:#ddd; 
  top:160px;
  left:160px;
  width:239px;
  height:39px; 
}

#hot_key_4_4 {
  background-image: url(../images/keys/qwerty_600_4_4.png);
  background-color:#888; 
  top:160px;
  left:400px;
  width:59px;
  height:39px; 
}

#hot_key_4_5 {
  background-image: url(../images/keys/qwerty_600_4_5.png);
  background-color:#888; 
  top:160px;
  left:460px;
  width:39px;
  height:39px; 
}

#hot_key_4_6 {
  background-image: url(../images/keys/qwerty_600_4_6.png);
  background-color:#888; 
  top:160px;
  left:500px;
  width:39px;
  height:39px; 
}

#hot_key_4_7 {
  background-image: url(../images/keys/qwerty_600_4_7.png);
  background-color:#888; 
  top:160px;
  left:540px;
  width:59px;
  height:39px; 
}





#guide_key_0_0 {
  background-image: url(../images/keys/qwerty_600_0_0.png); 
  background-color:#fff; 
  top:0px;
  left:0px;
  width:39px;
  height:39px; 
}
#guide_key_0_1 {
  background-image: url(../images/keys/qwerty_600_0_1.png); 
  background-color:#fff; 
  top:0px;
  left:40px;
  width:39px;
  height:39px; 
}
#guide_key_0_2 {
  background-image: url(../images/keys/qwerty_600_0_2.png); 
  background-color:#fff; 
  top:0px;
  left:80px;
  width:39px;
  height:39px; 
}
#guide_key_0_3 {
  background-image: url(../images/keys/qwerty_600_0_3.png); 
  background-color:#fff; 
  top:0px;
  left:120px;
  width:39px;
  height:39px; 
}
#guide_key_0_4 {
  background-image: url(../images/keys/qwerty_600_0_4.png); 
  background-color:#fff; 
  top:0px;
  left:160px;
  width:39px;
  height:39px; 
}
#guide_key_0_5 {
  background-image: url(../images/keys/qwerty_600_0_5.png); 
  background-color:#fff; 
  top:0px;
  left:200px;
  width:39px;
  height:39px; 
}
#guide_key_0_6 {
  background-image: url(../images/keys/qwerty_600_0_6.png); 
  background-color:#fff; 
  top:0px;
  left:240px;
  width:39px;
  height:39px; 
}
#guide_key_0_7 {
  background-image: url(../images/keys/qwerty_600_0_7.png); 
  background-color:#fff; 
  top:0px;
  left:280px;
  width:39px;
  height:39px; 
}
#guide_key_0_8 {
  background-image: url(../images/keys/qwerty_600_0_8.png);  
  background-color:#fff; 
  top:0px;
  left:320px;
  width:39px;
  height:39px; 
}
#guide_key_0_9 {
  background-image: url(../images/keys/qwerty_600_0_9.png);  
  background-color:#fff; 
  top:0px;
  left:360px;
  width:39px;
  height:39px; 
}
#guide_key_0_10 {
  background-image: url(../images/keys/qwerty_600_0_10.png); 
  background-color:#fff; 
  top:0px;
  left:400px;
  width:39px;
  height:39px; 
}
#guide_key_0_11 {
  background-image: url(../images/keys/qwerty_600_0_11.png); 
  background-color:#fff; 
  top:0px;
  left:440px;
  width:39px;
  height:39px; 
}
#guide_key_0_12 {
  background-image: url(../images/keys/qwerty_600_0_12.png); 
  background-color:#fff; 
  top:0px;
  left:480px;
  width:39px;
  height:39px; 
}

#guide_key_0_13 {
  background-image: url(../images/keys/qwerty_600_0_13.png);
  background-color:#fff; 
  top:0px;
  left:520px;
  width:79px;
  height:39px; 
}

#guide_key_1_0 {
  background-image: url(../images/keys/qwerty_600_1_0.png); 
  background-color:#fff; 
  top:40px;
  left:0px;
  width:59px;
  height:39px; 
}

#guide_key_1_1 {
  background-image: url(../images/keys/qwerty_600_1_1.png); 
  background-color:#fff; 
  top:40px;
  left:60px;
  width:39px;
  height:39px; 
}
#guide_key_1_2 {
  background-image: url(../images/keys/qwerty_600_1_2.png);  
  background-color:#fff; 
  top:40px;
  left:100px;
  width:39px;
  height:39px; 
}
#guide_key_1_3 {
  background-image: url(../images/keys/qwerty_600_1_3.png);
  background-color:#fff; 
  top:40px;
  left:140px;
  width:39px;
  height:39px; 
}
#guide_key_1_4 {
  background-image: url(../images/keys/qwerty_600_1_4.png); 
  background-color:#fff; 
  top:40px;
  left:180px;
  width:39px;
  height:39px; 
}
#guide_key_1_5 {
  background-image: url(../images/keys/qwerty_600_1_5.png); 
  background-color:#fff; 
  top:40px;
  left:220px;
  width:39px;
  height:39px; 
}
#guide_key_1_6 {
  background-image: url(../images/keys/qwerty_600_1_6.png);
  background-color:#fff; 
  top:40px;
  left:260px;
  width:39px;
  height:39px; 
}
#guide_key_1_7 {
  background-image: url(../images/keys/qwerty_600_1_7.png);
  background-color:#fff; 
  top:40px;
  left:300px;
  width:39px;
  height:39px; 
}
#guide_key_1_8 {
  background-image: url(../images/keys/qwerty_600_1_8.png); 
  background-color:#fff; 
  top:40px;
  left:340px;
  width:39px;
  height:39px; 
}
#guide_key_1_9 {
  background-image: url(../images/keys/qwerty_600_1_9.png);
  background-color:#fff; 
  top:40px;
  left:380px;
  width:39px;
  height:39px; 
}
#guide_key_1_10 {
  background-image: url(../images/keys/qwerty_600_1_10.png);
  background-color:#fff; 
  top:40px;
  left:420px;
  width:39px;
  height:39px; 
}
#guide_key_1_11 {
  background-image: url(../images/keys/qwerty_600_1_11.png);
  background-color:#fff; 
  top:40px;
  left:460px;
  width:39px;
  height:39px;  
}
#guide_key_1_12 {
  background-image: url(../images/keys/qwerty_600_1_12.png); 
  background-color:#fff; 
  top:40px;
  left:500px;
  width:39px;
  height:39px; 
}
#guide_key_1_13 {
  background-image: url(../images/keys/qwerty_600_1_13.png); 
  background-color:#fff; 
  top:40px;
  left:540px;
  width:59px;
  height:39px; 
}

#guide_key_2_0 {
  background-image: url(../images/keys/qwerty_600_2_0.png);  
  background-color:#fff; 
  top:80px;
  left:0px;
  width:69px;
  height:39px; 
}

#guide_key_2_1 {
  background-image: url(../images/keys/qwerty_600_2_1.png); 
  background-color:#fff; 
  top:80px;
  left:70px;
  width:39px;
  height:39px; 
}
#guide_key_2_2 {
  background-image: url(../images/keys/qwerty_600_2_2.png);  
  background-color:#fff; 
  top:80px;
  left:110px;
  width:39px;
  height:39px; 
}
#guide_key_2_3 {
  background-image: url(../images/keys/qwerty_600_2_3.png);  
  background-color:#fff; 
  top:80px;
  left:150px;
  width:39px;
  height:39px; 
}
#guide_key_2_4 {
  background-image: url(../images/keys/qwerty_600_2_4.png);  
  background-color:#fff; 
  top:80px;
  left:190px;
  width:39px;
  height:39px; 
}
#guide_key_2_5 {
  background-image: url(../images/keys/qwerty_600_2_5.png);  
  background-color:#fff; 
  top:80px;
  left:230px;
  width:39px;
  height:39px; 
}
#guide_key_2_6 {
  background-image: url(../images/keys/qwerty_600_2_6.png); 
  background-color:#fff; 
  top:80px;
  left:270px;
  width:39px;
  height:39px; 
}
#guide_key_2_7 {
  background-image: url(../images/keys/qwerty_600_2_7.png);  
  background-color:#fff; 
  top:80px;
  left:310px;
  width:39px;
  height:39px; 
}
#guide_key_2_8 {
  background-image: url(../images/keys/qwerty_600_2_8.png); 
  background-color:#fff; 
  top:80px;
  left:350px;
  width:39px;
  height:39px; 
}
#guide_key_2_9 {
  background-image: url(../images/keys/qwerty_600_2_9.png);  
  background-color:#fff; 
  top:80px;
  left:390px;
  width:39px;
  height:39px; 
}
#guide_key_2_10 {
  background-image: url(../images/keys/qwerty_600_2_10.png);  
  background-color:#fff; 
  top:80px;
  left:430px;
  width:39px;
  height:39px; 
}
#guide_key_2_11 {
  background-image: url(../images/keys/qwerty_600_2_11.png); 
  background-color:#fff; 
  top:80px;
  left:470px;
  width:39px;
  height:39px; 
}

#guide_key_2_12 {
  background-image: url(../images/keys/qwerty_600_2_12.png); 
  background-color:#fff; 
  top:80px;
  left:510px;
  width:89px;
  height:39px; 
}

#guide_key_3_0 {
  background-image: url(../images/keys/qwerty_600_3_0.png); 
  background-color:#fff; 
  top:120px;
  left:0px;
  width:89px;
  height:39px; 
}

#guide_key_3_1 {
  background-image: url(../images/keys/qwerty_600_3_1.png);  
  background-color:#fff; 
  top:120px;
  left:90px;
  width:39px;
  height:39px; 
}
#guide_key_3_2 {
  background-image: url(../images/keys/qwerty_600_3_2.png);
  background-color:#fff; 
  top:120px;
  left:130px;
  width:39px;
  height:39px; 
}
#guide_key_3_3 {
  background-image: url(../images/keys/qwerty_600_3_3.png); 
  background-color:#fff; 
  top:120px;
  left:170px;
  width:39px;
  height:39px; 
}
#guide_key_3_4 {
  background-image: url(../images/keys/qwerty_600_3_4.png);
  background-color:#fff; 
  top:120px;
  left:210px;
  width:39px;
  height:39px; 
}
#guide_key_3_5 {
  background-image: url(../images/keys/qwerty_600_3_5.png);
  background-color:#fff; 
  top:120px;
  left:250px;
  width:39px;
  height:39px; 
}
#guide_key_3_6 {
  background-image: url(../images/keys/qwerty_600_3_6.png); 
  background-color:#fff; 
  top:120px;
  left:290px;
  width:39px;
  height:39px; 
}
#guide_key_3_7 {
  background-image: url(../images/keys/qwerty_600_3_7.png); 
  background-color:#fff; 
  top:120px;
  left:330px;
  width:39px;
  height:39px; 
}
#guide_key_3_8 {
  background-image: url(../images/keys/qwerty_600_3_8.png);
  background-color:#fff; 
  top:120px;
  left:370px;
  width:39px;
  height:39px; 
}
#guide_key_3_9 {
  background-image: url(../images/keys/qwerty_600_3_9.png);
  background-color:#fff; 
  top:120px;
  left:410px;
  width:39px;
  height:39px; 
}
#guide_key_3_10 {
  background-image: url(../images/keys/qwerty_600_3_10.png); 
  background-color:#fff; 
  top:120px;
  left:450px;
  width:39px;
  height:39px; 
}

#guide_key_3_11 {
  background-image: url(../images/keys/qwerty_600_3_11.png); 
  background-color:#fff; 
  top:120px;
  left:490px;
  width:109px;
  height:39px; 
}

#guide_key_4_0 {
  background-image: url(../images/keys/qwerty_600_4_0.png); 
  background-color:#fff; 
  top:160px;
  left:0px;
  width:59px;
  height:39px; 
}

#guide_key_4_1 {
  background-image: url(../images/keys/qwerty_600_4_1.png); 
  background-color:#fff; 
  top:160px;
  left:60px;
  width:39px;
  height:39px; 
}

#guide_key_4_2 {
  background-image: url(../images/keys/qwerty_600_4_2.png); 
  background-color:#fff; 
  top:160px;
  left:100px;
  width:59px;
  height:39px; 
}

#guide_key_4_3 {
  background-image: url(../images/keys/qwerty_600_4_3.png); 
  background-color:#fff; 
  top:160px;
  left:160px;
  width:239px;
  height:39px; 
}

#guide_key_4_4 {
  background-image: url(../images/keys/qwerty_600_4_4.png);
  background-color:#fff; 
  top:160px;
  left:400px;
  width:59px;
  height:39px; 
}

#guide_key_4_5 {
  background-image: url(../images/keys/qwerty_600_4_5.png);
  background-color:#fff; 
  top:160px;
  left:460px;
  width:39px;
  height:39px; 
}

#guide_key_4_6 {
  background-image: url(../images/keys/qwerty_600_4_6.png);
  background-color:#fff; 
  top:160px;
  left:500px;
  width:39px;
  height:39px; 
}

#guide_key_4_7 {
  background-image: url(../images/keys/qwerty_600_4_7.png);
  background-color:#fff; 
  top:160px;
  left:540px;
  width:59px;
  height:39px; 
}